/* full three divided section css*/
#three-section {
  display: flex;

  #main-content {
    padding-left: 1%;
    padding-right: 1%;
  }

  #left-content {
    ul {
      background-color: rgba(242, 237, 240, 0.879);
      padding-left: 6%;
      padding-right: 6%;

      li {
        padding-top: 13px;
      }
    }
  }

  @media (width>=1000px) {
    #left-content {
      width: 15%;
      overflow-y: auto;
      height: 100vh;
    }

    #main-content {
      width: 65%;

    }

    #right-content {
      width: 20%;

    }
  }

  @media (700px<=width<=1000px) {
    #left-content {
      width: 30%;
      overflow-y: auto;
      height: 100vh;
      padding-left: 1%;
      padding-right: 1%;
    }

    #main-content {
      width: 75%;
    }

    #right-content {
      display: none;
    }
  }

  @media (width<=700px) {
    #left-content {
      display: none;
    }

    #main-content {
      width: 100%;
    }

    #right-content {
      display: none;
    }
  }
}

/* full three divided section css*/
.icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-left: 5px;
}

.heading-wrapper {
  display: flex;
  gap: .5em;
}

@media (width<=700px) {
  .icon {
    width: 25px;
    height: 25px;

  }
}

/* featured image */
.featured-image img {
  width: 99%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;

}

/* featured image end*/



@media (width<=700px) {
  #breadcrumbs {
    a {
      font-size: .6rem;
      font-weight: 500;
    }
  }
}

#three-section>#main-content #book-recommendation {
  display: block;
}

@media (width>=1000px) {
  #three-section>#main-content #book-recommendation {
    display: none;
  }

  #right-content #book-recommendation {
    display: block;
  }
}

#three-section #right-content section#book-recommendations>p {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000000;
  background-color: #12ED96;
  padding: 5px;
}

#three-section #main-content section#book-recommendation div>h2 {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-align: center;
  color: #000000;
  background-color: #12ED96;
}

/*  */
.scroll-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  scrollbar-width: none;

  scrollbar-color: #888 #eee;
}

.scroll-item {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.scroll-item:hover {
  background-color: #e0f0ff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

#right-content .icon {
  width: 26px;
  height: 26px;
  fill: currentColor;
  margin-left: 5px;
}



